extends layout

block content
  h1 One liner to install pak
  p From R run this:
    pre
      code source("https://pak.r-pkg.org")

  p From the shell run this:
    pre
      code curl https://pak.r-pkg.org | sh -
